# /etc/systemd/system/mevb.service 

[Unit]
Description=MEV-Boost Mainnet
After=network.target
Wants=network.target

[Service]
User=mevb
Group=mevb
Type=simple
Restart=always
RestartSec=5
EnvironmentFile=/etc/mev-boost/relay-config.env
ExecStart=mev-boost -mainnet -relay-check -relays \${FLASHBOTS},\${BLOXROUTE_ETHICAL},\${BLOXROUTE_MAXPROFIT},\${BLOCKNATIVE},\${EDEN},\${MANIFOLD},\${ULTRASOUND},\${AGNOSTIC}

[Install]
WantedBy=default.target
